body {
    text-align: center;
    background-color: #455A64;
}

h1, h2, h3 {
  color: white;
  font-family: monospace;
}

#track {
  background: url('images/track.jpg');
  height: 450px;
  border-right: dashed 10px black;
  margin: 50px 0;
}

.car {
    display: block;
    position: relative;
}

#car1 { top: 30px; }
#car2 { top: 130px; }

.clearfix:after {
    content:"";
    display: table;
    clear: both;
}

#refresh {
  background-color: #FFC107;
  color: #757575;

}
